<div class="subtitle">
  <div class="subtitle-item">
    <h4>Máscara</h4>
    <div class="subtitle-images">
      <div class="subtitle-image">
        <img src="/assets/images/required-mask.png"/>
        <p>Obrigátório</p>
      </div>
      <div class="subtitle-image">
        <img src="/assets/images/recommended-mask.png"/>
        <p>Recomendado</p>
      </div>
    </div>
  </div>
  <div class="subtitle-item">
    <h4>Toalha</h4>
    <div class="subtitle-images">
      <div class="subtitle-image">
        <img src="/assets/images/required-towel.png"/>
        <p>Obrigátório</p>
      </div>
      <div class="subtitle-image">
        <img src="/assets/images/recommended-towel.png"/>
        <p>Recomendado</p>
      </div>
    </div>
  </div>
  <div class="subtitle-item">
    <h4>Bebedouro</h4>
    <div class="subtitle-images">
      <div class="subtitle-image">
        <img src="/assets/images/partial-fountain.png"/>
        <p>Parcial</p>
      </div>
      <div class="subtitle-image">
        <img src="/assets/images/not_allowed-fountain.png"/>
        <p>Proibido</p>
      </div>
    </div>
  </div>
  <div class="subtitle-item">
    <h4>Vestiários</h4>
    <div class="subtitle-images">
      <div class="subtitle-image">
        <img src="/assets/images/allowed-lockerroom.png"/>
        <p>Liberado</p>
      </div>
      <div class="subtitle-image">
        <img src="/assets/images/partial-lockerroom.png"/>
        <p>Parcial</p>
      </div>
      <div class="subtitle-image">
        <img src="/assets/images/closed-lockerroom.png"/>
        <p>Fechado</p>
      </div>
    </div>
  </div>
</div>
