.subtitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: rgba(0,0,0,0.1);

  max-width: 80%;
  width: 100%;
  margin: 0 auto 32px auto;
  padding: 24px 12px;

  border-radius: 4px;
  gap: 24px;

  .subtitle-item {
    display: flex;
    flex-direction: column;
    gap: 8px;

    h4 {
      text-align: center;
    }

    .subtitle-images {
      display: flex;
      align-items: center;
      justify-content: center;

      gap: 12px;

      img {
        width: 100px;
      }

      .subtitle-image {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
    }
  }
}

@media (min-width: 1120px) {
  .subtitle {
    flex-direction: row;

    .subtitle-item {
      .subtitle-images {
        img {
          width: 50px;
        }
      }
    }
  }
}

@media (min-width: 1380px) {
  .subtitle .subtitle-item .subtitle-images img {
    width: 100px;
  }
}
